// Vars
$primary-color: #214566;
$secondary-color: #fff;
$third-color: #bfffff;


// Global
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 50px;
}

h6 {
  font-size: 18px;
  font-weight: 600;
}

img {
  object-fit: cover;
}

// Header
header {
  background-color: $primary-color;

  .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-brand,
  .navbar-brand:hover {
    color: $secondary-color;
  }
  .nav-item {
    padding-left: 10px;

    a {
      color: rgba($secondary-color, .7);

      &:hover {
        color: rgba($secondary-color, 1); 
      }

      &.sign {
        color: $third-color;
        border: 1px solid $third-color;

        &:hover {
          background-color: $third-color;
          color: $primary-color;
        }
      }
    }
  }
}

// main
main {
  width: 100%;
  height: calc(100vh - 58px);
  color: $secondary-color;
  background-image: url("./../imgs/main.png");
  background-size: cover;
  display: grid;
  align-items: center;

  h1 {
    margin-bottom: 30px;
  }

  .btn {
    padding-right: 30px;
    padding-left: 30px;
    background-color: $primary-color;
    color: $secondary-color;
    border: 1px solid $primary-color;

    &:hover,
    &:focus {
      background-color: $secondary-color;
      color: $primary-color;
      border-color: $secondary-color;
    }
  }

  .jump-link {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: inline-block;

    a {
      width: 40px;
      height: 40px;
      color: $secondary-color;
      border: 1px solid $secondary-color;
      border-radius: 50%;
      font-size: 18px;
      line-height: 40px;
      display: inline-block;

      &:hover {
        background-color: $secondary-color;
        color: $primary-color;
      }
    }
  }
}

.seo-questions {
  padding: 50px 0;
  color: $primary-color;

  .question-shape {
    position: relative;
    text-align: center;
  
    .ques1 {
      position: absolute;
      top: 10%;
      right: 15%;
  
      .ques1-content {
        margin-bottom: 20px;
      }
    }
  
    .ques2 {
      position: absolute;
      top: 35%;
      left: 4%;
    }
  
    .ques3 {
      position: absolute;
      bottom: 20%;
      left: 23%;
    }
  
    .ques4 {
      position: absolute;
      bottom: 7%;
      right: 6%;
    }
  }
  
  .questions-content .ques1 {
    margin-bottom: 30px;
  }

  .more-options {
    margin-top: 50px;
    text-align: center;
  }
}

.how-works {
  padding: 50px 0;
  background-color: #f7f7f7;
  color: $primary-color;
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }

  .how-works-shape {
    width: 70%;
    margin: 0 auto 20px;
    position: relative;

    .item1,
    .item2,
    .item3 {
      position: absolute;
    }

    h6, p {
      margin-bottom: 20px;
    }

    .item1 {
      bottom: 29%;
      left: 3%;

      .plus-wrapper {
        width: 20px;
        margin: 0 auto
      }
    }

    .item2 {
      top: 13%;
      left: 28%;
    }

    .item3 {
      bottom: 14%;
      right: 26px;

      .invite-wrapper {
        width: 50px;
        margin: 0 auto;
      }
    }
  }

  .check-right-wraper {
    width: 40px;
    margin-right: 10px;
    vertical-align: top;
  }
}

.about-seo {
  padding: 50px 0;
  color: $primary-color;
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }

  h3 {
    margin-bottom: 40px;
  }

  .first-row {
    margin-bottom: 40px;

    .item {
      width: 50px;
      height: 50px;
      margin: 0 auto 10px;
      line-height: 50px;
  
      &.verified-wrapper {
        width: 40px;
      }
    }
  }

  .second-row {
    .item {
      width: 70px;
      height: 70px;
      margin: 0 auto 10px;
      line-height: 70px;
  
      &.performance-wrapper {
        width: 130px;
      }
    }
  }
}

.build,
.pricing {
  padding: 50px 0;
  color: $primary-color;
  text-align: center;
  line-height: 1.8;

  h2 {
    margin-bottom: 30px;
  }
}

.build {
  background-color: #f7f7f7;

  p {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.scroll-top a {
  width: 45px;
  height: 45px;
  background-color: transparent;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  position: fixed;
  bottom: 5.5rem;
  right: 2.5rem;
  z-index: 99;
  opacity: 0;

  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

footer {
  padding: 20px;
  background-color: $primary-color;
  text-align: center;

  li {
    margin-right: 15px;

    a {
      color: $secondary-color;
      font-size: 30px;

      &.instagram:hover {
        color: #EF6D3F;
      }

      &.twitter:hover {
        color: #1DA1F2;
      }
      &.facebook:hover {
        color: #4267B2;
      }
    }
  }
}
