// Vars
$primary-color: #214566;
$secondary-color: #fff;
$third-color: #bfffff;


// Global
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 58px 0 0 0;
  font-family: 'Open Sans', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 50px;
}

h6 {
  font-size: 18px;
  font-weight: 600;
}

img {
  width: 100%;
  object-fit: cover;
}

// Header
header {
  width: 100%;
  background-color: $primary-color;
  position: absolute;
  top: 0;
  z-index: 99;

  .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-brand,
  .navbar-brand:hover {
    color: $secondary-color;
  }
  .nav-item {
    padding-left: 10px;

    a {
      color: rgba($secondary-color, .7);

      &:hover {
        color: rgba($secondary-color, 1); 
      }

      &.sign {
        color: $third-color;
        border: 1px solid $third-color;

        &:hover {
          background-color: $third-color;
          color: $primary-color;
        }
      }
    }
  }
}

// main
main {
  width: 100%;
  height: calc(100vh - 58px);
  color: $secondary-color;
  background-image: url("./../imgs/main.png");
  background-size: cover;
  display: grid;
  align-items: center;

  h1 {
    margin-bottom: 30px;
  }

  .btn {
    padding-right: 30px;
    padding-left: 30px;
    background-color: $primary-color;
    color: $secondary-color;
    border: 1px solid $primary-color;

    &:hover,
    &:focus {
      background-color: $secondary-color;
      color: $primary-color;
      border-color: $secondary-color;
    }
  }

  .jump-link {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: inline-block;

    a {
      width: 40px;
      height: 40px;
      color: $secondary-color;
      border: 1px solid $secondary-color;
      border-radius: 50%;
      font-size: 18px;
      line-height: 40px;
      display: inline-block;

      &:hover {
        background-color: $secondary-color;
        color: $primary-color;
      }
    }
  }
}

.seo-questions {
  padding: 50px 0;
  color: $primary-color;

  .question-shape {
    position: relative;
    text-align: center;
  
    .ques1 {
      position: absolute;
      top: 10%;
      right: 15%;
  
      .ques1-content {
        margin-bottom: 20px;
      }

      .img-improve-wrapper {
        width: 100px;
        margin: 0 auto;
      }
    }
  
    .ques2 {
      position: absolute;
      top: 35%;
      left: 4%;
    }
  
    .ques3 {
      position: absolute;
      bottom: 20%;
      left: 23%;
    }
  
    .ques4 {
      position: absolute;
      bottom: 7%;
      right: 6%;
    }
  }
  
  .questions-content .ques1 {
    margin-bottom: 30px;
  }

  .more-options {
    margin-top: 50px;
    text-align: center;
  }
}

.how-works {
  padding: 50px 0;
  background-color: #f7f7f7;
  color: $primary-color;
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }

  .how-works-shape {
    width: 70%;
    margin: 0 auto 20px;
    position: relative;

    .item1,
    .item2,
    .item3 {
      position: absolute;
    }

    h6, p {
      margin-bottom: 20px;
    }

    .item1 {
      bottom: 29%;
      left: 3%;

      .plus-wrapper {
        width: 20px;
        margin: 0 auto
      }
    }

    .item2 {
      top: 13%;
      left: 28%;

      .img-social-wrapper {
        width: 100px;
        margin: 0 auto;
      }
    }

    .item3 {
      bottom: 14%;
      right: 26px;

      .invite-wrapper {
        width: 50px;
        margin: 0 auto;
      }
    }
  }

  .check-right-wraper {
    width: 40px;
    margin-right: 10px;
    vertical-align: top;
  }
}

.about-seo {
  padding: 50px 0;
  color: $primary-color;
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }

  h3 {
    margin-bottom: 40px;
  }

  .first-row {
    margin-bottom: 40px;

    .item {
      width: 50px;
      height: 50px;
      margin: 0 auto 10px;
      line-height: 50px;
  
      &.verified-wrapper {
        width: 40px;
      }
    }
  }

  .second-row {
    .item {
      width: 70px;
      height: 70px;
      margin: 0 auto 10px;
      line-height: 70px;
  
      &.performance-wrapper {
        width: 130px;
      }
    }
  }
}

.build,
.pricing {
  padding: 50px 0;
  color: $primary-color;
  text-align: center;
  line-height: 1.8;

  h2 {
    margin-bottom: 30px;
  }
}

.build {
  background-color: #f7f7f7;

  p {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.scroll-top a {
  width: 45px;
  height: 45px;
  background-color: transparent;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  position: fixed;
  bottom: 5.5rem;
  right: 2.5rem;
  z-index: 99;
  opacity: 0;

  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

footer {
  padding: 20px;
  background-color: $primary-color;
  text-align: center;

  li {
    margin-right: 15px;

    a {
      color: $secondary-color;
      font-size: 30px;

      &.instagram:hover {
        color: #EF6D3F;
      }

      &.twitter:hover {
        color: #1DA1F2;
      }
      &.facebook:hover {
        color: #4267B2;
      }
    }
  }
}


// Media Query
@media (max-width: 1199px) {
  .seo-questions .question-shape {
    .ques1,
    .ques2,
    .ques3,
    .ques4 {
      font-size: 14px;
    }

    .ques1 .img-improve-wrapper {
      width: 70px;
    }

    .img-moitor-wrappe {
      width: 120px;
    }
  }  

  .how-works .how-works-shape,
  h6 {
    font-size: 14px;

    .item1 {
      width: 120px;
      margin: 0 auto;
    }

    .item2 {
      width: 175px;
      margin: 0 auto;
      left: 27%;

      .img-social-wrapper {
        width: 70px;
      }
    }

    .item3 {
      width: 230px;
      margin: 0 auto;
      bottom: 10%;
    }
  }
}

@media (max-width: 991px) {
  body {
    padding-top: 56px;

    h2 {
      font-size: 28px;
    }
  }

  .navbar-toggler {
    border: 1px solid $third-color;

    .navbar-toggler-icon {
      height: auto;
      padding: 4px 0;
      color: $third-color;
    }

    &:hover,
    &:focus {
      background-color: $third-color;
      outline: none;

      .navbar-toggler-icon {
        color: $primary-color
      }      
    }
  }

  .nav-item a.sign {
    margin-top: 15px;
  }

  main {
    height: calc(100vh - 55px);
  }

  .question-shape {
    width: 70%;
    margin: 0 auto;
  }

  .seo-questions .question-shape {
    margin-bottom: 30px;

    .ques1 {
      top: 13%;
      right: 16%;
    }

    .ques4 {
      bottom: 7%;
      right: 8%;
    }
  }
  .questions-content br,
  .more-options br {
    display: none
  }

  .how-works .how-works-shape {
    width: 100%;
  }
}

@media (max-width: 767px) {
  body {
    h2 {
      font-size: 20px;
    }
  
    h3 {
      font-size: 18px;
    }
  }

  main .jump-link {
    display: none;
  }

  .question-shape {
    width: 85%;
  }

  .how-works .how-works-shape {
    margin-bottom: 30px;

    h6 {
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 0;
    }

    br {
      display: none;
    }

    .item1 {
      width: 100px;
      bottom: 26%;
      left: 3%;
    }

    .item2 {
      width: 135px;
      top: 7%;
    }
    
    .item3 {
      width: 173px
    }
  }

  .scroll-top a {
    display: none;
  }

  .about-seo p {
    margin-bottom: 20px;
  }

  .about-seo .first-row {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  body h1 {
    font-size: 40px;
  }

  .seo-questions .question-shape {
    width: 100%;

    br {
      display: none;
    }

    .ques1,
    .ques2,
    .ques3,
    .ques4 {
      font-size: 12px
    }

    .ques1 {
      width: 100px;
      right: 13%;

      .ques1-content {
        margin-bottom: 3px;
      }

      .img-improve-wrapper {
        width: 44px;
      }
    }

    .ques2 {
      width: 85px;
      top: 32%;
      left: 3%;
    }

    .ques3 {
      width: 80px;
      bottom: 19%;
      left: 21%;
    }

    .ques4 {
      width: 88px;
      bottom: 5%;
      right: 6%;
     
      .img-moitor-wrappe {
        width: 80px;
      }
    }
  }

  .questions-content {
    text-align: center;
  }

  .how-works .how-works-shape,
  h6 {
    font-size: 12px;

    h6 {
      margin-bottom: 3px;
    }

    .item1 {
      width: 55px;
      bottom: 22%;
      left: 4%;

      .plus-wrapper {
        width: 10px;
      }
    }

    .item2 p,
    .item3 p {
      display: none;
    }

    .item2 {
      width: 90px;
      top: 18px
    }

    .item3 {
      width: 92px;
      bottom: 17%;
      
      .invite-wrapper {
        width: 33px
      }
    }
  }

  .about-seo .first-row .item,
  .about-seo .second-row .item {
    margin-bottom: 0;
  }
}

@media (max-width: 350px) {
  .seo-questions .question-shape {
    .ques1,
    .ques2,
    .ques3,
    .ques4 {
      font-size: 10px
    }

    .ques1 {
      width: 80px;
    }

    .ques2 {
      width: 65px;
      top: 29%;
    }

    .ques3 {
      width: 66px;
    }

    .ques4 {
      width: 80px;
    }
  }

  .how-works .how-works-shape,
  h6 {
    font-size: 10px;

    .item1 {
      bottom: 21%;
      left: 2%;
    }

    .item2 {
      width: 73px;
      top: 10px
    }

    .item3 {
      width: 67px;
    }
  }
}